<div class="container d-flex flex-column align-items-center my-5">
  <div class="col-6">
    <form class="row" [formGroup]="createPokemonForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nom</mat-label>

        <input matInput formControlName="name" />
        <!--        Affiche l'erreur si le champ est invalid et dirty / touched-->
        <mat-error *ngIf="isFieldInvalid('name')">
          <!--        récupère le message d'erreur selon le nom du champ et du validateur-->
          {{ getErrorMessage('name', 'required') }}
          {{ getErrorMessage('name', 'minlength') }}
          {{ getErrorMessage('name', 'validValidator') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="isFieldInvalid('description')">
          {{ getErrorMessage('description', 'required') }}
          {{ getErrorMessage('description', 'minlength') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput formControlName="imageUrl" />
        <mat-error *ngIf="isFieldInvalid('imageUrl')">
          {{ getErrorMessage('imageUrl', 'required') }}
          {{ getErrorMessage('imageUrl', 'pattern') }}
        </mat-error>
      </mat-form-field>
      <button
        class="w-100 mb-3"
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="this.createPokemonForm.invalid">
        Save
      </button>
    </form>
  </div>
  <div *ngFor="let pokemon of pokemons" class="card my-2 col-6">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          ngSrc="{{ pokemon.imageUrl }}"
          width="150"
          height="150"
          style="object-fit: contain"
          class="card-img"
          alt="{{ pokemon.name }}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ pokemon.name }}</h4>
          <p class="card-text">
            {{ pokemon.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
